@model BasicMVC.Models.Personagem
@inject LanguageService localizer
@{
    ViewData["Title"] = "Delete";
}

<h1>@localizer.Get("Delete")</h1>

<h3>@localizer.Get("deletethis")</h3>
<div>
    <h4>Personagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @localizer.Get("Name")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @localizer.Get("Descricao")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@localizer.Get("Delete")" class="btn btn-danger" /> |
        <a asp-action="Index">@localizer.Get("Back to List")</a>
    </form>
</div>
