@model IEnumerable<BasicMVC.Models.Personagem>
@inject LanguageService localizer

@{
    ViewData["Title"] = "Index";
}

<h1>@localizer.Get("Index")</h1>

<p>
    <a asp-action="Create">@localizer.Get("Create New")</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @localizer.Get("Name")
            </th>
            <th>
                @localizer.Get("Descricao")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@localizer.Get("Edit")</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@localizer.Get("Details")</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@localizer.Get("Delete")</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>@localizer.Get("teste")</p>